body{
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    background-size:contain;
    background-attachment: fixed;
    height: 100vh;
    background-color: black;
    color: rgb(0, 0, 0);
}

html::-webkit-scrollbar {
    display: none;
}
    
html {
    -ms-overflow-style: none;  
    scrollbar-width: none; 
}

a{
    text-decoration: none ;
    color: rgba(0, 0, 0, 0.695);
}

.content{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.info{
    background: rgba(112, 112, 112, 0.6);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.5px);
    -webkit-backdrop-filter: blur(9.5px);
    border: 1px solid rgba(201, 201, 201, 0.3);
    position: relative;
    display: grid;
    grid-template-columns: 80% 20%;
    transition: .3s all ease-in-out;
    margin: 0.3%;
    margin-top: .5%;
    margin-bottom: .5%;
    height:25%;
    width: 99.4%;
}

.content .info p{
    margin: 0;
    font-size: 110%;
    transition: .3s all ease-in-out;
    word-wrap: break-word;
    height: 100%;
    padding: .6%;
    width: 100%;
}

.content .info img, .content .info video{
    -webkit-box-shadow: 0px 0px 56px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 56px 0px rgba(0,0,0,1);
    box-shadow: 0px 0px 56px 0px rgba(0,0,0,1);
    border-radius: 6px;
    object-fit: fill;
    transition: .3s all ease-in-out;
    background-color: black;
    height: 150px;
    aspect-ratio: 1/1;
    position: relative;
    left: 60%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.info:hover{
    grid-template-columns: 65% 35%;
    height: 50%;
}

.info:hover p{
    font-size: 140%;
    width: 100%;
}

.info:hover img, .info:hover video{
    height: 300px;
    left: 59%;
}

.content .info .text h1{
    transition: .3s all ease-in-out;
    position: relative;
    left: 0%;
    transform: translate(50%);
}

.content .info:hover .text h1{
    transform: translate(2%);
}